/*  NHL Handedness
    by Russ Rizzo
    coded by Alex Nelson
*/
body {
    background-image: url("images/Background_image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-position: center center;*/
    font-family: 'Press Start 2P', cursive;
}
.content {
    margin: auto;
}

p {
    /*display: block;*/
    /*margin-top: 1em;*/
    /*margin-bottom: 1em;*/
    /*margin-left: 0;*/
    /*margin-right: 0;*/
}

input {
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
    border: 3px solid #000000;
    background: transparent;
    height: 75px;
    width: 150px;
    margin-top: 65px;
}
h1 {
    text-align: center;
}

a {
    /*color: hotpink;*/
    color: black;
}

div {
    /*//background-color: #FFFFFF;*/
    /*//width: 30px;*/
    /*//border: 25px;*/
    /*padding: 25px;*/
    /*//margin: 25px;*/
    /*text-transform: capitalize;*/
}

.floating-box {
    /*display: inline-block;*/
    float: left;
    text-align: center;
    width: 32%;
    height: 40%;
    margin: auto;
    /*border: 3px solid #73AD21;*/
    font-size: 18px;
}

img {
    vertical-align: center;
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: auto;
    /*width: 100%;*/
    /*height: auto;*/
    width: 75%;
    height: 75%;
}

.image-display{
    /*height*/
}

.container-top {
    text-align: center;
    position: fixed;
    top: 0;
    left: 5px;
    width: 100%;
}

.container-bottom {
    font-size: 12px;
    /*display: inline-block;*/
    /*float: center;*/
    /*text-align: center;*/
    position: fixed;
    bottom: 0;
    vertical-align: center;
    width: 100%;
}